@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    margin:0px 100px;
}

.header{
    display: flex;
    font-size: 18px;
    padding:20px;
    background-color: #1F2937;
    justify-content: space-between;
  
}

.header-logo{
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
    color: #F9FAF8;
    padding:20px;
}

.topmost{
    display: flex; 
    flex-direction: row; 
    justify-content: center;    
    font-size: 24px;
    background-color: #1F2937;
    font-weight: bold;
    color: #F9FAF8;
    padding:20px;
}

.topmost-left{
    display: flex;
    width: 500px;
    flex-direction: column; 
    justify-self: flex-start;
    padding: 100px;
    
}


.tl1{
    font-size: 48px;
    font-weight: bolder;  
    color: #F9FAF8;
    /* width: 300px;   */
}

.tl2{
    font-size: 18px;
    font-weight: bold;   
    color:#E5E7EB;
    /* width: 300px;    */
}

.tl3{
    font-size: 18px;
    color:#E5E7EB;
    font-weight: lighter; 
    /* width: 300px;   */
}


.topmost-right{
    justify-self: flex-end;
    width: 500px;
    padding: 100px;
}
   

.top-middle{
    display:flex;
    flex-direction: column;
    font-size: large;
    padding:20px;
}

.top-middle-header{
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.top-middle-body{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}

.tbm{
    display: flex;
    flex-direction: column;

}

.tbmup{

}

.tbmdown{

}

.bottom-middle{
    display: flex;
    flex-direction: column;
    font-size: large;
    padding:200px;
    background-color: #E5E7EB;

}

.bmup{
    display:flex;
    justify-content: center;
    font-size: 36px;
    font-style: italic;
    color:#1F2937;

}

.bmdown{
    display:flex;
    justify-content: flex-end;
    font-size: 18px;
    font-weight: bold;
}

.bottom{
    display:flex;
    justify-content: space-between;
    font-size: small;
    padding: 100px;
    background-color: #3882F6;
    margin: 200px;
    border-radius: 40px;
    
}

.bleft{
    display:flex;
    flex-direction: column;
    font-size: 18px;
    color:#E5E7EB;
    font-weight: lighter; 
}

.blup{
    

}

.bldown{

}

.bright{

}

.footer{
    display:flex;
    justify-content: center;
}



.links{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    
    gap: 16 px;
    font-size: 18px;
    
}

a{
    text-decoration: none;
    gap: 16 px;
    color: #E5E7EB;
    padding: 16px;
}

button{
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 10px;
    border: 2px solid #f3f2f6;
}